{% extends 'base.html' %}
{% block content %}
<div class='row'>
    <div class='col-md-4 mx-auto col-10'>
        <form class='form' id='post-create-form' method='POST' action='/create-post'>
            {% csrf_token %}
            <div class='d-none alert alert-danger' id='post-create-error'></div>
        <input type='hidden' value='/' name='next' />
        <textarea required='required' class='form-control' name='description' placeholder='Painting description'></textarea>
        <button type ='submit' class='btn btn-primary' >Post</button>
        </form>
    </div>
</div>
<div class='row text-center' id='posts'>
<script>
    function getCookie(name) {
      let cookieValue = null;
      if (document.cookie && document.cookie !== '') {
          const cookies = document.cookie.split(';');
          for (let i = 0; i < cookies.length; i++) {
              const cookie = cookies[i].trim();
              // Does this cookie string begin with the name we want?
              if (cookie.substring(0, name.length + 1) === (name + '=')) {
                  cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                  break;
              }
          }
      }
      return cookieValue;
  }

    function handleActionBtn(post_id, cCount, act){
        const csrftoken = getCookie('csrftoken');
        const url = "/api/posts/action"
        const method = "POST"
        const data = JSON.stringify({
          id: post_id,
          action: act
        })
        const xhr = new XMLHttpRequest()
        xhr.open(method, url)
        xhr.setRequestHeader("Content-Type", "application/json")
        xhr.setRequestHeader("HTTP_X_REQUESTED_WITH", "XMLHttpRequest")
        xhr.setRequestHeader("X-Requested-With", "XMLHttpRequest")
        xhr.setRequestHeader("X-CSRFToken", csrftoken)
        xhr.onload = function() {
          console.log(xhr.status, xhr.response)
          loadPosts()
        }
        xhr.send(data)
        return
    }
    function shareButt(post) {
        return "<button class='btn btn-outline-success btn-sm' onclick=handleActionBtn("
         + post.id +"," + post.likes +",'share')>Share</button>"
    }
    function unlikeButt(post) {
        return "<button class='btn btn-outline-primary btn-sm' onclick=handleActionBtn("
         + post.id +"," + post.likes +",'unlike')>Unlike</button>"
    }
    function likeButt(post) {
        return "<button class='btn btn-primary btn-sm' onclick=handleActionBtn("
         + post.id +"," + post.likes +",'like')>" + post.likes + " Likes</button>"
    }
</script>
<script>
    function handlePostFormError(msg, display) {
        var errorDiv = document.getElementById("post-create-error")
        if(display===true){
                errorDiv.setAttribute("class", "alert alert-danger")
                errorDiv.innerHTML = msg
        }else {
                errorDiv.setAttribute("class", "d-none alert alert-danger")
        }
    }
    function handlePostCreateSubmit(event){

        event.preventDefault()
        //retrieve form
        const form = event.target
        const fd = new FormData(form)
        const url = form.getAttribute("action")
        const method = form.getAttribute("method")
        const xhr = new XMLHttpRequest()
        xhr.open(method, url)
        xhr.setRequestHeader("HTTP_X_REQUESTED_WITH", "XMLHttpRequest")
        xhr.setRequestHeader("X-Requested-With", "XMLHttpRequest")
        //xh response to submit post
        xhr.onload = function(){
            if (xhr.status === 201) {
                handlePostFormError("", false)
                const serverResponse = xhr.response
                newTweetElem = formatPostEl(serverResponse)
                const postsElem = document.getElementById("posts")
                const ogHtml = postsElem.innerHTML
                postsElem.innerHTML = newTweetElem + ogHtml
                loadPosts(postsElem)
                form.reset()
            }else if (xhr.status === 400){
                const errorJson = xhr.response
                const description = JSON.parse(errorJson)
                let contentMsg;
                if(description){
                    contentMsg = description['description']
                    if (contentMsg) {
                        handlePostFormError(contentMsg, true)
                    } else{
                    alert("An error occured. Please try again.")
                }
                } else{
                    alert("An error occured. Please try again.")
                }


            }else if (xhr.status === 500){
                alert("Server Error")
            }else if (xhr.status === 401 || xhr.status === 403){
                alert("You must login to post!")
                window.location.href("/login")
            }
        }
        xhr.onerror = function() {
            alert("ERRORE MADORNALE")
        }
        xhr.send(fd)
    }
    const postCreateElem = document.getElementById("post-create-form")
    postCreateElem.addEventListener("submit", handlePostCreateSubmit)
    const postsElem = document.getElementById("posts")
    function formatPostEl(post){
        var ret = "<div class='mb-4 col-12 col-md-10 mx-auto border rounded py-3'>"
        ret += "<p><h3>" + //+ post.id + " " +
                    post.description +  " " +
                    //post.like_count +  " " +
                    //post.author_id +  " " +
                    "</h3></p>"
        ret += "<div class='btn-group'>" + likeButt(post) + unlikeButt(post) + shareButt(post)
        ret += "</div></div>"
        return ret
    }
    //function to display posts, updates on load
    function loadPosts() {
        const xhr = new XMLHttpRequest()
        const method = 'GET'
        const url = "/posts"
        const responseType = "json"
        xhr.responseType = responseType
        xhr.open(method, url)
        xhr.onload = function(){
            //get list from response
            const serverResponse = xhr.response

            const listedItems = serverResponse
            var finalPostStr = ""
            var i;
            for (i = 0; i < listedItems.length; i++){
                post = listedItems[i]

                var cur = formatPostEl(post)
                finalPostStr += cur
            }

            postsElem.innerHTML = finalPostStr
            }
        xhr.send()
        }

    loadPosts(postsElem)


</script>
</div>
{% endblock content %}
